<div class="">
	<% if current_user %>

		<%= form_for [@proposal, @comment]  do |f| %>

		  <div class="comment-box">
		    <p><%= f.label :comment, "Add A Comment:" %></p>
		    <p><%= f.text_area :body_text, :class => 'text-box' %></p>
		    <%= f.submit "Comment", :class => 'comment-button' %>
		  </div>


		 <% end %>
	<% end%>
</div>