<div>
	<% if current_user %>

		<%= form_for [@group, @comment]  do |f| %>

		  <div class="center-block text-center">
		    <p><%= f.text_area :body_text, class: 'form-control comment-box center-block', rows: 2 %></p>
		    <%= f.submit "Comment", :class => 'comment-button' %>
		  </div>

		 <% end %>
	<% end%>
</div>