<div class="col-md-9" id="proposal_holder">
  <h2>Create A Group</h2>
  	<%= form_for @group do |f|%>


    <br>

  	<div>
  		<%= f.label :title %>
      <%= f.text_field :title %>
  	</div>

      <%= f.submit "Create Your Group" %>
    <%end%>
</div>
