<div>
  	<%= form_for @group do |f|%>
    <br>

  	<div>
  		<%= f.label :title %>
      <%= f.text_field :title %>
  	</div>

		<div class="row submit_row">
			<%= f.submit 'Create Group', class: 'btn btn-xl center-block' %>
			</div>
    <%end%>
</div>

