<div class="row" id="proposal_index">
	<div class="col-xs-3" id="sidebar">
		<div>
			<a href='/'><img src="/favicon.png" class="diamond-pic"></a>
		</div>
		<div class="user_holder">
			<p id="user_name"> <% if current_user %>
  			<%= current_user.name %>
		 <% end %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100">
			</div>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text" id="toption">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text" id="toption">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='' class="option_text" id="toption">Partner/Group</a>
		</div>
		<div class="sidebar_option">
			<p class="option_text">
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</p>
		</div>
	</div>


<%= render "form" %>