<h1>Sched Jewels</h1>

<p>The Crystal Clear Way of Organization.</p>


<h3>About The App</h3>

<p>Sched Jewels is a scheduling web application that helps keep you organized. As individuals get older, it becomes harder to make plans with friends and family.  Sched Jewels is here to help relieve the disorganization and lessen the amount of communication.</p>

<p>Plan events, connect with friends and have your plans easily pushed to your calendar. No need to contact friends and family over various platforms such as Facebook, cellphone, email, chat etc. to make plans!</p>

<h3>How It Works</h3>

<p>Simply log in with your GMail account with one click of a button!  Afterwards, you're all set to go. </p>
<ul>
<li>Create events and add friends by email.
<li>Friends and family can vote on which date works best for them.
<li>The event will then be pushed to your Google calendar which can be linked to your smartphone, Outlook and more!</ul>

<p>View your calendar on Sched Jewels and chat with friends while you're making plans.</p>

<p>Need to stay organized with family or a significant other? Use Sched Jewels to create lists only viewable between each other.</p>

