<div class="row" id="home_block">
	<a name="home"></a>
	<div class="row home_navbar">
		<div class="spacer"></div>
		<a href="#feature">
			<div class="nav_option">
				<p> Features </p>
			</div>
		</a>
		<a href="/users/sign_in">
			<div class="nav_option">
				<p> Sign In </p>
			</div>
		</a>			
		<a href="/users/sign_in">
			<div class="nav_option">
				<p> Sign Up </p>
			</div>
		</a>
	</div>
	<div id="logo">
		<img src="assets/logo.png" id="logo_img">
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<a href="users/sign_in">
			<div id="start_holder">
				<h1 id="start">Get Started</h1>
			</div>
		</a>
	</div>
</div>
<!-- <div class="row" id="block_spacer">
</div> -->		
<a name='feature'></a>
<div class="row" id="feature_block">
	<div class="row home_navbar"  id="reduce_marg">
		<a href="/users/sign_in">
			<div class="nav_option">
				<p> Sign In </p>
			</div>
		</a>
		<a href="/users/sign_up">
			<div class="nav_option">
				<p> Sign Up </p>
			</div>
		</a>			
		<a href="#home">
			<div class="nav_option">
				<p> Home </p>
			</div>
		</a>
	</div>

<!-- 	<div class="feature_block_title">
		<h1 id="feature_block_title_text"> Features </h1>
	</div> -->

	<div class="col-xs-4 feature">
		<div class="feature_picture">
			<img class="feature_img" src="http://placehold.it/400x400" >
		</div>
		<div class="feature_text_holder">
			<h1 class="feature_title"> Feature </h1>
			<p class="feature_paragraph"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		</div>
	</div>
	<div class="col-xs-4 feature">
		<div class="feature_picture">
			<img class="feature_img" src="http://placehold.it/400x400">
		</div>
		<div class="feature_text_holder">
			<h1 class="feature_title"> Feature </h1>
			<p class="feature_paragraph"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		</div>
	</div>
	<div class="col-xs-4 feature">
		<div class="feature_picture">
			<img class="feature_img" src="http://placehold.it/400x400">
		</div>
		<div class="feature_text_holder">
			<h1 class="feature_title"> Feature </h1>
			<p class="feature_paragraph"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		</div>
	</div>
</div>
