<div class="terms-layout">
	<a href="/">
		<%= image_tag "terms-logo.png", id: "terms-logo" %>
	</a>
	<h1>Privacy Policy</h1>
	<p>Last updated: January 08, 2016</p>
	<br>

	<p>Sched Jewels ("us", "we", or "our") operates www.schedjewelsapp.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>

	<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>


	<h5><strong>Information Collection And Use</strong></h5>

	<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information")</p>

	<h5><strong>Log Data</strong></h5>

	<p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>

	<p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

	<p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze the information.</p>

	<h5><strong>Communication</strong></h5>

	<p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be applicable.</p>

	<h5><strong>Cookies</strong></h5>

	<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>

	<p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>

	<h5><strong>Service Providers</strong></h5>

	<p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>

	<p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

	<h5><strong>Security</strong></h5>

	<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

	<h5><strong>Links To Other Sites</strong></h5>

	<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>

	<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

	<h5><strong>Children's Privacy</strong></h5>

	<p>Our Service does not address anyone under the age of 13 ("Children").</p>

	<p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.</p>

	<h5><strong>Changes To This Privacy Policy</strong></h5>

	<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

	<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

	<h5><strong>Contact Us</strong></h5>

	<p>If you have any questions about this Privacy Policy, please <a href="mailto:schedjewelsapp.com">contact us.</a></p>
</div>