<br>
<br>
<br>

<div align='center'>
	<h1>Sign Into Your Account</h1>

<br>
<br>

	<a href="/users/auth/google_oauth2" class="btn btn-default">Google Sign In</a>
<br>
	<p>Don't have an account? <a href="https://accounts.google.com/signUp?service=mail">Create One</a></p>

</div>
