<div class="row" id="sign_in_container">

  <h1 id="sign_in_or_up"> Sign In With Google </h1>

    <%= render "devise/shared/links" %>

	<div class="col-md-12" id="create_one">
		<p style="inline">Don't have an account? <a href="https://accounts.google.com/signUp?service=mail">Create one</a>.</p>
	</div>

	<div class="col-md-12" id="create_one">
		<p style="inline">By using Sched Jewels, you agree to our <a href="/terms">Terms and Conditions</a> and our <a href="/privacy">Privacy Policy</a>.</p>
	</div>

</div>
