<h2 class="textcenter" id="log-in-title">Log in</h2>


<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4 textcenter">

  <%= render "devise/shared/links" %>

</div>

<div class="col-md-4"></div>