<div class="nested-field">
	<h1 class="input-title text-center">
		Invitee Email:
	<div class="input-group center-block">
		<%= f.email_field :email_address, placeholder: 'Enter Email', class: 'center-block form-width attendee-form form-control' %>
	</div>
</div>


