<div class="nested-field">
	<h1 class="input-title text-center">
		Invitee Email:
	<div class="input-group center-block">
		<%= f.email_field :email_address, class: 'form-control center-block attendee-form form-width' %>
	</div>
</div>


