<div class="row" id="proposal_index">
	<div class="col-xs-3" id="sidebar">
		<div class="user_holder">
			<p id="user_name"> <%= current_user.name %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100"> 
			</div>
		</div>
		<div class="sidebar_option">
			<p class="option_text" id="toption">My Calendar</p>
		</div>
		<div class="sidebar_option">
			<p class="option_text" id="toption">Create An Event</p>
		</div>
		<div class="sidebar_option">
			<p class="option_text" id="toption">View Events</p>
		</div>
		<div class="sidebar_option">
			<p class="option_text" id="toption">Partner/Group</p>
		</div>
	</div>
	<div class="col-xs-9" id="proposal_holder">
	<% @proposals.each do |p| %>
	<div class="proposal">
		<h1 class="p_title"> <%= p.title %> </h1>
		<div class="time_holder">
			<p class="p_start_time"> <%= p.start_time %> </p>
			<p class="p_start_date"> <%= p.start_date %> </p>
		</div>
	</div>
	<% end %>
	</div>
</div>
