/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "devise";
@import "proposals";
@import "staticpages";

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  color: white;
}

.no-margin {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-image: image-url('header.png');
  border: 0px solid transparent;
}

.navbar-default .navbar-brand {
    color: white;
}
@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}

@media (min-width: 992px) {
  .navbar {
  display: none;
  }
}

@media (max-width: 550px) {
  .navbar-brand {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: .85em;
  }
}

@media (max-width: 315px) {
  .navbar-brand {
    font-size: .6em;
  }
}
.event_page_header {
  font-size: 4em;
  width: 100%;
  height: 15vh;
  text-align: center;
  background-image: image-url('header.png');
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 15vh;
}

.calendar_body {
  height: 85vh;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}


.simple-calendar {
  text-align: center;
  font-size: 2em;
  margin: 2em;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
    height: 80px;
  }

  th {
    // padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
    font-size: 0.75em !important;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    font-size: 0.5em;
  }

  .day {
    height: 5em;
    text-align: right;
    background-color: #bdbebe;
    color: #257272;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #3fc0c0;
    color: white !important;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {

  }

  .has-events {}
}

///


.c_location {
  text-align: center;
  font-size: 1.4em;
  height: 50%;
  margin: 0;
}

.comment-pad {
  margin-left: 10em;
}

// Lists

// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-item {
  display: flex;
  width: 45%;
  font-size: 1.2em;
  margin-top: 2vh;
  height: 2.2em;
  float: left;
  color: black;
  vertical-align: middle;
  padding-left: 2em;
  padding-top: 0.35em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #3fc0c0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  transition: .8s;

  &:hover {
    transition: .3s;
    transform: scale(.98);
  }
}

.list-text {
  color: black;
  text-align: center;
}

// Group

.group-title {
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}
