.page_header {
	font-size: 4em;
	height: 10vh;
	text-align: center;
	background-image: url('header.png');
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.col-xs-9 {
	padding-right: 0;
	padding-left: 0;
}

.col-xs-3 {
	padding-right: 0;
	margin-right: 0;
}
