// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F1F1F1
}

// Proposal Index //

.scrollable {
    height: 85vh;
    overflow-y: auto;
    padding-bottom: 2vh;
}

.fixed {
	position: fixed;
	z-index: 2;
}

#proposal_index {
	height: 100vh;
	width: 100%;
}

#proposal_holder {
	background-color: #F1F1F1;
	height: 100vh;
}

.proposal {
	
	background-color: #F1F1F1;
	display: flex;
	width: 45%;
	margin-top: 2vh;
	height: 20vh;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	-webkit-box-shadow: 0px 1px 4px 3px rgba(68,68,68,1);
	-moz-box-shadow: 0px 1px 4px 3px rgba(68,68,68,1);
	box-shadow: 0px 1px 4px 3px rgba(68,68,68,1);
}

.p_title {
	height: 50%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 0;
	margin-top: 2.5vh;
	font-weight: 300;
	a {
		text-decoration: none;
		color: #141414;

		&:hover {
		text-decoration: none;
		color: blue;
		}
	}

}

.time_holder {
	height: 50%;
	width: 100%;
}

.p_start_date {
	margin: 0;
	margin-top: 1vh;
	text-align: center;
	height: 50%;
	font-size: 1.4em;
}

.p_location {
	text-align: center;
	font-size: 1.4em;
	height: 50%;
	margin: 0;
}

// Side Bar //

#sidebar {
	height: 100%;
	background-image: url('background.png');
}

.fixed {
    position: fixed;
}

.user_holder {
	display: flex;
}

#user_name {
	margin-top: 6vh;
	display: inline-block;
	width: 60%;
	text-align: center;
	font-size: 1.8em;
}

#img_holder {
	width: 40%;
}

#user_image {
	margin-top: 3vh;
	height: auto;
	width: 8vw;
	border-radius: 8vw;
}

.col-xs-3 {
	padding-right: 0;
	margin-right: 0;
}

.sidebar_option {
	padding-right: 0;
	margin-top: 5vh;
	height: 8%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	color: white;
	text-align: center;
	border-top: 3vh;
	background-color: rgba(63, 191, 191, 0.6)
}

.option_text {
	line-height: 8vh;
	color: white;

	a {
	color: white;

		&:hover {
		color: blue;
		}
	}
}


// Proposal New //

.col-xs-9 {
	padding-right: 0;
	padding-left: 0;
}
#proposal_form {
	height: 100vh;
	padding-left: 0;
	background-color: #F9F9F9;
}

.page_header {
	font-size: 4em;
	width: 80%;
	height: 15vh;
	text-align: center;
	background-image: url('header.png');
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 15vh;
}

.spacer {
	height: 15vh;
}

.scrollable_form {
	height: 70vh;
    overflow-y: auto;
    padding-bottom: 2vh;
}

.event-fields {
	margin-top: 3vh;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;

	input {
		font-size: 1em;
		margin-top: 1vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20vw;
	}
}

.button {
	display: block;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	height: 7vh;
	width: 20vw;
}

.form_title {
	font-size: 2em;
	text-align: center;
}

#time_title {
	margin-top: 5vh;
	text-align: center;
	font-size: 2em;
}

#timeslot_form {
	border-radius: 10px;
	margin-bottom: 30vh;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
	height: 30vh;
	font-size: 1.5em;

	.timeslot-fields {
		text-align: center;
		font-size: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3vh;
		width: 20vw;

		input {
			font-size: 1em;
			margin-top: 1vh;
			width: 20vw;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.form_row_title {
	margin-top: 5vh;
	text-align: center;
	font-size: 2em;
}

.time_slot_holder {
	margin-bottom: 5vh;
}

.submit_row {
	border-top: 1px solid #E8E8E8;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

// Proposal Show //

#proposal_show {
	height: 100vh;
	width: 100%;
}

#proposal_show_container {
	background-color: #F1F1F1;
}

.a_proposal {
	margin-top: 3vh;
	padding: 2.5vh;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
}

.new_vote {
	width: 10vw;
	margin-left: auto;
	margin-right: auto;

	input {
		height: 7vh;
		width: 10vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
	}
}

.button_to {
	width: 15vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;

	input {
		height: 7vh;
		width: 15vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
	}
}

.prop_title {
	font-size: 3em;
	text-align: center;
}

.prop_description {
	font-size: 2em;
	text-align: center;
}

.location {
	font-size: 2em;
	text-align: center;
}

.potential_timeslots {
	
}

.prop_date {
	text-align: center;
	font-size: 2em;
}

.prop_time {
	text-align: center;
	font-size: 2em;
}

.comment_holder {
}