// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F1F1F1
}

// Proposal Index //

.fixed {
	position: fixed;
}

.no-margin {
	min-height: 100vh;
	width: 100%;
	margin: 0;
}

#proposal_holder {
	min-height: 100vh;
	background-image: image-url('BLUR-1.jpg');
	padding-bottom: 5vh;
}

.proposal {

	display: flex;
	width: 45%;
	margin-top: 2vh;
	height: 20vh;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-image: image-url('background.png');
	border-radius: 5px;
}

@media (max-width: 768px) {

	.proposal {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}

.p_title {
	height: 50%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 0;
	margin-top: 2.5vh;
	font-weight: 300;
	a {
		text-decoration: none;
		color: #141414;

		&:hover {
		text-decoration: none;
		color: blue;
		}
	}

}



.time_holder {
	height: 50%;
	width: 100%;
}

.p_start_date {
	margin: 0;
	margin-top: 1vh;
	text-align: center;
	height: 50%;
	font-size: 1.4em;
}

@media (max-width: 350px) {
	.p_start_date {
		margin-top: 2vh;
		font-size: 1.2em;
	}

	.p_location {
		font-size: 1.2em;
	}
}

.p_location {
	text-align: center;
	font-size: 1.4em;
	height: 50%;
	margin: 0;
}

// Side Bar //

#sidebar {
	min-height: 100vh;
	background-image: image-url('background.png');
	padding: 0;
}

@media (max-width: 991px) {
	#sidebar {
	display: none;
	}
}

.fixed {
    position: fixed;
}

.user_holder {
	display: flex;
}

#user_name {
	margin-top: 6vh;
	display: inline-block;
	width: 60%;
	text-align: center;
	font-size: 1.8em;
}

#img_holder {
	width: 40%;
}

#user_image {
	margin-top: 3vh;
	height: auto;
	width: 8vw;
	border-radius: 8vw;
}

.sidebar_option {
	padding-right: 0;
	margin-top: 5vh;
	height: 8%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	color: white;
	text-align: center;
	border-top: 3vh;
	background-color: rgba(63, 191, 191, 0.6)
}

.option_text {
	line-height: 8vh;
	color: white;

	a {
	color: white;

		&:hover {
		color: blue;
		}
	}
}


// Proposal New //

.form-margin {
}

.form-width {
	max-width: 90%;
	display: block;
	margin-left: 5%;
	margin-right: auto;
}

#proposal_form {
	min-height: 100%;
	background-color: #C9C9C9;
	padding-right: auto;

}

.page_header {

	font-size: 4em;
	height: 15vh;
	text-align: center;
	background-image: image-url('header.png');
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 15vh;
}

@media (max-width: 992px) {
	.page_header {
		line-height: 7vh;
		height: 7vh;
		font-size: 2em;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		color: #D9D9D9;
	}

}
.form-block {
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
	min-height: 70vh;
	color: white;
	padding-top: 5vh;
	margin-bottom: 3vh;
	background-image: image-url('background.png');
	padding-bottom: 2vh;

}

@media (max-width: 991px) {
	.form-block {
		margin-left: 2vh;
		margin-right: 2vh;
		min-height: 80vh;
		padding-bottom: 5vh;
	}
}

.event-fields {
	margin-top: 3vh;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;

	input {
		font-size: 1em;
		margin-top: 1vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20vw;
	}
}

.button {
	display: block;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	height: 7vh;
	width: 20vw;
}

.input-title {
	display: block;
	font-size: 16px;
	margin-top: 2vh;
}

.timeslot-title {
	display: block;
	font-size: 16px;
	margin-top: 2vh;
}

.form_title {
	font-size: 2em;
	text-align: center;
}

#time_title {
	margin-top: 5vh;
	text-align: center;
	font-size: 2em;
}

#timeslot_form {
	border-radius: 10px;
	margin-bottom: 15vh;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
	min-height: 30vh;
	font-size: 1.5em;

	.timeslot-fields {
		text-align: center;
		font-size: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3vh;

		input {
			font-size: 1em;
			margin-top: 1vh;
			width: 20vw;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.form_row_title {
	text-align: center;
	font-size: 1.5em;
	display: block;
	margin: 0;
	margin-bottom: 5vh;
}

.time-form-margin {
	display: block;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color: #777;
	margin-bottom: -1vh;
}

.attendee-form-margin {
	display: block;
	color: black;
}

.attendee-form {
	margin-top: 1.5vh;
}

.add-button {
	margin-top: 9vh;
}

.time-button {
	margin-top: 9vh;
}


.submit_row {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.btn-xl {
	background-image: image-url('background.png');
    padding: 14px 35px;
    font-size: 22px; 
    border-radius: 8px;
    border: 0px solid transparent;
}

// Proposal Show //

#proposal_show {
	height: 100vh;
	width: 100%;
}

#proposal_show_container {
	background-color: #F1F1F1;
}

.a_proposal {
	margin-top: 3vh;
	padding: 2.5vh;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
}

.proposal_info {
	height: 20vh;
}

.new_vote {
	width: 10vw;
	margin-left: auto;
	margin-right: auto;

	input {
		height: 7vh;
		width: 10vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
	}
}

.button_to {
	width: 15vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;

	input {
		height: 7vh;
		width: 15vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
	}
}

.prop {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.prop_title {
	padding: 2vh;
	font-size: 3em;
	text-align: center;
	background-color: #444444;
}

.prop_description {
	font-size: 2em;
	text-align: center;
	background-color: #666666;
}

.prop_location {
	font-size: 2em;
	text-align: center;
	background-color: #888888;
}

.potential_timeslots {


}

.prop_date {
	text-align: center;
	font-size: 2em;
}

.prop_time {
	text-align: center;
	font-size: 2em;
}

.comment_holder {
}

//// COMMENT ///

.c_location {
	text-align: center;
	font-size: 1.4em;
	height: 50%;
	margin: 0;
}

.text-box {
	width: 40em;
	height: 5em;
}

.comment-name {
	font-weight: bold;
	color: #006699;
}

.comment-list {
	list-style-type: none;
	display: inline;
}

.diamond-pic {
	width: 2em;
	height: 2em;
}
